<div class="flex flex-col items-center justify-center w-full p-6 sm:p-10">
    <div class="w-full max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-8">
        
        <mat-card class="w-full bg-card rounded-2xl shadow overflow-hidden h-fit">
            <div class="p-4 pb-1 w-full text-center">
                <h2 class="text-xl font-bold">{{ 'GENERAR_QR_INGRESE_ID' | translate:i18nName }}</h2>
            </div>
            <div class="p-4 flex flex-col gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ID de Servicio</mat-label>
                    <input matInput id="qr-id" type="number" [(ngModel)]="id" placeholder="Ej: 12345" (keyup.enter)="generateQR()"/>
                </mat-form-field>

                <button mat-flat-button color="primary" class="flex items-center" (click)="generateQR()" [disabled]="loading || !id">
                    <ng-container *ngIf="loading; else defaultButton">
                        <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
                    </ng-container>
                    <ng-template #defaultButton>
                        {{ 'GENERAR_QR_GENERAR' | translate:i18nName }}
                    </ng-template>
                </button>
            </div>
        </mat-card>

        <mat-card class="w-full bg-card rounded-2xl shadow flex flex-col items-center justify-center p-4 min-h-[350px]">
            <div class="pb-4">
                <h2 class="text-xl font-bold">{{ 'GENERAR_QR_CODIGO_QR' | translate:i18nName }}</h2>
            </div>
            
            <div class="flex-auto flex items-center justify-center w-full bg-gray-50 dark:bg-gray-800 rounded-xl border-2 border-dashed border-gray-200 dark:border-gray-700 p-4">
                
                <div *ngIf="!qrCodeData && !loading" class="flex flex-col items-center text-secondary">
                    <mat-icon class="icon-size-16 mb-4 opacity-20" svgIcon="heroicons_outline:qr-code"></mat-icon>
                    <p>{{ 'GENERAR_QR_ESTADO_VACIO' | translate:i18nName }}</p>
                </div>

                <div *ngIf="loading" class="flex flex-col items-center justify-center">
                    <mat-spinner diameter="50"></mat-spinner>
                    <p class="mt-4 text-secondary">{{ 'GENERAR_QR_PROCESANDO' | translate:i18nName }}</p>
                </div>

                <div *ngIf="qrCodeData && !loading" class="flex flex-col items-center animate-fade-in">
                    <div class="qr-container">
                        <img [src]="qrCodeData" alt="Código QR con Logo" class="qr-image" />
                    </div>
                </div>
            </div>

            <div class="mt-6 w-full" *ngIf="qrCodeData && !loading">
                <a mat-stroked-button color="accent" class="w-full h-10 flex gap-3" [href]="qrCodeData" download="codigo-qr-premec.png">
                    <mat-icon svgIcon="heroicons_outline:arrow-down-tray"></mat-icon>
                    {{ 'GENERAR_QR_DESCARGAR_QR' | translate:i18nName }}
                </a>
            </div>
        </mat-card>
    </div>
</div>