::ng-deep .mdc-snackbar__label {
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    border-radius: 10px !important;
}

::ng-deep .mdc-snackbar__surface {
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    border-radius: 10px !important;
    margin: 10px !important;
}

.custom-notification-wrapper {
    color: white;

    &.notification-success {
        background-color: #25b681;

        .mat-icon,
        button {
            color: white;
        }
    }

    &.notification-error {
        background-color: #d24747;

        .mat-icon,
        button {
            color: white;
        }
    }

    &.notification-info {
        background-color: #2979db;

        .mat-icon,
        button {
            color: white;
        }
    }
}