.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(6px) !important;
}

.mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

.mat-mdc-form-field-error-wrapper {
    position: relative !important;
    margin-top: 5px !important;
}

.color-picker {
    top: 40px !important;
    left: 8px !important;
    border-radius: 10px !important;
    left: 0 !important;
    overflow: hidden !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 auto !important;
    height: min-content !important;
    position: absolute !important;
}

color-piker {
    bottom: 0 !important;
    position: absolute !important;
    margin: 0 auto !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: inherit !important;
}

.mat-expansion-panel-body {
    padding-top: 0px !important;
}

.dark {
    .mat-mdc-radio-button .mdc-radio__outer-circle {
        border-color: rgba(255, 255, 255, 0.6) !important;
    }

    .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__outer-circle {
        border-color: #2887fb !important;
    }

    .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__inner-circle {
        border-color: #2887fb !important;
    }

    .mat-mdc-radio-button .mat-mdc-radio-ripple .mat-ripple-element {
        background-color: rgba(129, 140, 248, 0.3) !important;
    }

    .mat-mdc-radio-button.mat-mdc-radio-disabled label {
        color: rgba(255, 255, 255, 0.38) !important;
    }
}

:root {
    --color-primary: #2563eb;
    --color-primary-hover: #3b82f6;
    --color-error: #ef4444;
    --color-error-hover: #f87171;
}

.theme-default {
    --focus-color: var(--color-primary);
    --error-color: var(--color-error);
}

.theme-default.dark {
    --focus-color: #60a5fa;
    --error-color: #f87171;
}

.theme-default .mat-mdc-form-field.mat-focused:not(.mat-form-field-invalid) {
    --mdc-outlined-field-focus-outline-color: var(--focus-color);
    --mdc-outlined-field-focus-label-text-color: var(--focus-color);
    --mdc-outlined-field-active-label-text-color: var(--focus-color);
}

.theme-default .mat-focused:not(.mat-form-field-invalid) .mdc-floating-label {
    color: var(--focus-color) !important;
}

.theme-default .mat-form-field-invalid {
    --mdc-outlined-field-error-outline-color: var(--error-color);
    --mdc-outlined-field-error-focus-outline-color: var(--error-color);
    --mdc-outlined-field-error-hover-outline-color: var(--error-color);
    
    --mdc-outlined-field-error-label-text-color: var(--error-color);
    --mdc-outlined-field-error-focus-label-text-color: var(--error-color);
}

.theme-default .mat-mdc-form-field-error, 
.theme-default .mat-mdc-form-field-hint {
    color: var(--error-color) !important;
}

.theme-default .mat-form-field-invalid .mdc-floating-label,
.theme-default .mat-form-field-invalid .mdc-text-field__input {
    color: var(--error-color) !important;
    caret-color: var(--error-color) !important;
}

.theme-default .mdc-text-field__input {
    caret-color: var(--focus-color);
}

button mat-icon.mat-icon {
    color: inherit !important;
}

.mat-mdc-tab-label-container {
    background-color: white !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.dark .mat-mdc-tab-label-container {
    background-color: #111827 !important;
}
